ddj_cloud/scrapers/klimadashboard/msr_php/xsd/GeloeschteUndDeaktivierteMarktakteure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GeloeschteUndDeaktivierteMarktakteure">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="GeloeschterUndDeaktivierterMarktakteur" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="MarktakteurMastrNummer" minOccurs="0"/>
							<xs:element name="MarktakteurStatus" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="488"/>
									<xs:enumeration value="489"/>
								</xs:restriction>
							</xs:simpleType>
							</xs:element>
							<xs:element type="xs:string" name="DatumLetzteAktualisierung" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>